@import url("//fonts.googleapis.com/css?family=Roboto");
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

h1,h2,h3{
  font-family: 'Roboto Condensed' ;
  font-weight: 500;
  line-height: 1.1;
  color:#00558B;
}

h4,h6,h5,h7,a{
  font-family: 'Roboto Condensed' ;
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
}

p{
  font-family: 'Roboto' ;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}

body {
  background-color: #ffffff;
}


.main-header {
    height: 70px;
}

.content-wrapper{
  background-color: #ffffff;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #ffffff;
    font-size: 20px;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #36B885;
}

.skin-blue .main-header .navbar {
    background-color: #2A3236;
    margin-top: 5px;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #2A3236;
}

.skin-blue .main-header .logo {
    background-color: #2A3236;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    font-family: 'Roboto Condensed';
font-weight: 500;
line-height: 1.1;
}

.skin-blue .main-header .logo:hover {
    background-color: #2A3236;
}

.skin-blue .sidebar-menu>active>a, .skin-blue .sidebar-menu>li:hover > a {
    color: #000;
    background: #2A3236;
    border-left-color: #fff;
}

.skin-blue .sidebar-menu>.active>a, .skin-blue .sidebar-menu>li:hover > a {
    color: #000;
    background: #2A3236;
    border-left-color: #fff;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover > a {
    color: #fff;
    background: #2A3236;
    border-left-color: #fff;
}


.sidebar-menu {
    margin-top: 20px;
}

.getBox {
  width :100%;
}

.getImage{
  width :100%;
}

.footerBox{
  text-align: center;
  font-size: 10px;
  background-color: #F5F5F5;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
    min-height: 250px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
}

.box {
  
    width: -moz-min-content;  /* Firefox/Gecko */
    width: -webkit-min-content;   /* Webkit */    
    width: min-content;
    width: 100%;

    text-align: center;
    position: relative;
    border-radius: 3px;
    background: #fff;  
    border-top:0; 
    margin-bottom:0;
    box-shadow: 0 0 0;
}


.overview-tab .row {
  padding-left: 15px;
}

.overview-icons .col-sm-2 {
  display: table;
}

.overview-icons .box {
  display: table-row;
}

.box-body .fa-10x{
  font-size: 7em;
  position: relative;
}

/* Center align box titles*/
.box-header .box-title{
  text-align: center;
  font-size: 2.5em;
}

/* Changing font color*/
.box .fa-chart-bar, 
.civic-tab h1, .civic-tab h2, .civic-tab h3 {
  color: #752a07;
}


header.main-header {
  position: relative;
  width: 100%;
  height: 70px;
}

header.main-header .navbar{
  position: absolute;
  width: 100%;
  height:auto;
}


header.main-header .navbar .navbar-custom-menu{
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  text-align: right;
}

header.main-header .navbar .navbar-custom-menu ul.navbar-nav {
  width: 100%;
  height:100%;
  
  text-align: right;
}

header.main-header .navbar .navbar-custom-menu ul.navbar-nav li.dropdown{
  height:100%;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  position: relative;
}

header.main-header .navbar .navbar-custom-menu ul.navbar-nav li.dropdown img {
  width: auto;
  height: 100%;
  margin-left: 75vw;
  margin-right: 10vw;
}


.box .fa-home,
.live-tab h1, .live-tab h2, .live-tab h3,
.live-tab .shiny-html-output.col-sm-.shiny-bound-output p{
	color: #E54B21 ;
}

.box .fa-briefcase,
.work-tab h1, .work-tab h2, .work-tab h3 {
	color: #113535;
}

.box .fa-tree,
.play-tab h1, .play-tab h2, .play-tab h3 {
	color: #617030;
}

.box .fa-graduation-cap,
.learn-tab h1, .learn-tab h2, .learn-tab h3 {
	color: #CB942B;
}

.box .fa-handshake,
.act-tab h1, .act-tab h2, .act-tab h3 {
	color : #3A7993;
}

.sidebar-menu>.fa{
	color: #ffffff
}

.bg-orange {
background-color: #FCEDE8!important;
}

.leInfo {
max-width: 90%;
height: auto;
width: 90%;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}


.popAge {
  
  width: 100%;
  max-width:  100%;
  height: auto;
}

.bannerImg{
  width: 100%;
}

.myFrame {
  
  padding:  100px 0;
  width: auto;
  max-width:  100%;
  height: auto;
}

.tourismInfo {
  width:  100%;
  max-width: 100%;
  height: auto;
}


.box .boxText {
  text-align: left;
  
}
  
}

